td,
th {
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  padding: 10px;
}

table {
  border: 1px #ddd solid;
}

tr {
  &:nth-child(odd) {
    background-color: #eee;
  }

  &:hover {
    background-color: #ddd;
  }
}
