<ng-container *ngIf="product">
  <div class="card my-2">
    <img
      [src]="
        product.imageUrl ||
        'https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?cs=srgb&dl=pexels-adonyi-g%C3%A1bor-1414651.jpg&fm=jpg'
      "
      alt="{{ product.name }} image"
      class="card-img-top"
    />
    <div class="card-body">
      <h4 class="card-title">{{ product.name || "Product Title" }}</h4>
      <p class="card-text" *ngIf="product.price && product.price >= 0">
        {{ product.price | currency: "R " }}
      </p>
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>
