<div *ngIf="!loading" class="container-md">
  <div class="row gx-5">
    <div class="col-sm mx-sm-5 py-sm-2">
      <form [formGroup]="productForm">
        <div class="mb-3">
          <label for="productTitle" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="productTitle"
            placeholder="Product Title"
            formControlName="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="productPrice" class="form-label">Price</label>
          <div class="input-group">
            <span class="input-group-text">ZAR</span>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              placeholder="Product Price"
              formControlName="price"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="categorySelect" class="form-label">Category</label>
          <select
            id="categorySelect"
            class="form-select"
            formControlName="category"
            required
          >
            <option selected value="-1">Please select a category</option>
            <option
              *ngFor="let category of categories | async"
              value="{{ category.id }}"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="productImageUrl" class="form-label">Image URL</label>
          <input
            type="url"
            class="form-control"
            id="productImageUrl"
            placeholder="Product Image URL"
            formControlName="imageUrl"
            required
          />
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <div>
            <button
              class="btn btn-primary px-3 me-3"
              (click)="save()"
              [disabled]="!productForm.valid || category === '-1'"
            >
              Save
            </button>
            <button
              *ngIf="product"
              class="btn btn-danger px-3 ms-3"
              (click)="delete()"
            >
              Delete
            </button>
          </div>
          <a class="btn btn-dark" routerLink="..">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col-sm mx-sm-5 py-sm-2">
      <h3>Preview</h3>
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
