<div *ngIf="cart" class="card">
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">You have {{ totalCartItems }} items in your cart.</p>
    <table class="table">
      <tbody>
        <tr *ngFor="let cartItem of cartItemsWithProducts">
          <td>{{ cartItem.amount }} x {{ cartItem.product.name }}</td>
          <td>
            {{ calculateProductTotalPrice(cartItem) | currency: "R " }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <th>Total</th>
        <th>{{ cartTotalPrice | currency: "R " }}</th>
      </tfoot>
    </table>
  </div>
</div>
